
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@300;400;600;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EDF2EC;
    
}
.header{
    min-height: 666px;
}
.container{
    max-width: 1252px;
    padding: 0 15px;
    margin: 0 auto;
}
.nav-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 136px;
}
.nav{
    width: 454px;
}
.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    font-family: 'Inika';
    line-height: 50px;
    font-weight: 400;
    font-size: 16px;
    transition: 0.2s ease;
}
.nav__link:hover{
    color: #E06733;
}
.nav__link--color{
    color: #010201;
}

.logo__item{
    width: 79px;
    height: 21px;
    margin-top: 2px;
    position: relative;
    left: 1px;
}

.welcome-wrapper{
    display: flex;
    align-items: center;
    margin-top: 62px;
    justify-content: space-between;
}
.main-pic__item{
    width: 407px;
    height: 448px;
    position: relative;
    top: -10px;
    left: -10px;
   
}
.description{
    /* margin-left: 214px; */
    margin-top: -41px;
    
}
.description__title{
    max-width: 550px;
    margin-bottom: 47px;
    
    
}
.description__headtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #717171;
    margin-top: 22px;
}
.description__span{
    color: #499A18;
}
.description__subtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    color: #636060;
    max-width: 525px;
    margin-bottom: 48px;

}
.button{
    
}
.description__button{
    width: 158px;
    height: 44px;
    text-transform: uppercase;
}
.description__button--one{
    border: 2px solid #E06733;
    border-radius: 10px;
    color: #000;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    transition: 0.2s ease;
}
.description__button--one:hover{
    background-color: #E06733;
    border: none;
    color: #fff;
    }
.about{
    min-height: 666px;
    background-color: #fff;
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.about__info{
    margin-top: 103px;
}
.about__item{
    
}
.about__title{
    max-width: 463px;
    margin-bottom: 40px;
    
}
.about__houseplant{
    margin-top: 93px;
}
.about__header{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.about__span{
    color: #E06733;
}
.about__subtitle{
    max-width: 605px;
}
.about__subtitle p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}
.service{
    min-height: 1260px;
    background-color: #EDF2EC;
}
.description__button--another{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    border: 1px solid #E06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    text-transform: capitalize;
    transition: .2s ease;
}
.description__button--another + .description__button--another{
    margin-left: 32px;
}
.description__button--another:hover{
    background-color: #E06733;
    border: none;
    color: #fff;
}
.service-nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
}
.service__title{
    max-width: 306px;
    
}
.service__item{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.service__buttons{
    margin-left: 142px;
    margin-top: 4px;
    position: relative;
    right: 0px;
    top: 1px;
}  
.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    gap: 55px 0;
    margin-bottom: 121px;
}
.card{
    transition: 0.2s ease-in-out;
}
.card:hover {
    transform: scale(1.2);
}
.card__item {
    width: 329px;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
}
.card__description {
    padding-top: 9px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}
.card__title {
    text-align: center;
}
.card__header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
}
.card__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    padding: 14px 0 36px 0;
    text-align: center;
}
.card__text {

}
.prices{
min-height: 560px;
    background-color: #ffffff;

}
.prices__wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prices__levels{
    margin: 38px 0 128px 0;
}
.prices__title{
    margin-bottom: 60px;
}
.prices__header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}
.prices__boxes{
    padding: 34px 41px;
    min-width: 332px;
    min-height: 282.01px;
    gap: 32px 0;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}
.description__button--prices{
    width: 250px;
    height: 50px;
    background-color:#EDF2EC;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
    padding: 16px 0 16px 40px;
}
.prices__boxes{
    display: flex;
    flex-direction: column;
    
}
.prices__name{

}
.description__headtitle--prices{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
    position: relative;
    top: 4px;
}
.description__button--two{
    width: 162px;
    height: 50px;
    border: 1px solid #E06733;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E06733;
    border-radius: 5px;
    transition: .2s ease;
    text-transform: lowercase
}
.description__button--two::first-letter{
    text-transform: uppercase;
}
.description__button--two:hover{
    background-color: #E06733;
    border: none;
    color: #fff;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin-top: -143px;
}
.main-pic_item--small{
    width: 152px;
    height: 174.99px;
    margin-top: 39px;
}
.contacts{
    height: 550px;
}
.service--margin{
    margin-top: 40px;
}
.contacts__wrapper {
    width: 100%;
    text-align: center;
}
.contacts__title {
    
    
}
.contacts__header {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}
.btn {
    float: right;
    margin-top: 34px;
}
.city-btn {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    text-align: left;
    padding-left: 21px;
}
.accord{
    float: right;
    margin-right: 35px;
    margin-top: 5px;
}

/* ----- */
.contacts{
    height: 550px;     
}
.img{
position: relative;    
min-height: 550px;
height: 100%;
width: 100%;

}
.img::after {
content:'';
width: 400px;
height: 497px;
background-image:url('/assets/img/contact_woman_1.png');
position: absolute;
bottom:0;
left: 0;
z-index: -1; 
}
.contacts--centre {
    text-align: center;
    transform: translateY(60px);
    
}
.title__header {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
    
}
.button-city {
    float: right;
    transform: translateY(95px);
    
}
.button-c {
    width: 450px;
    height: 50px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    text-align: left;
    padding-left: 20px;
}

/* ------ */




.footer {
    width: 100%;
    background-color: #fff;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
}
.footer_copyright {
    text-align: center;
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
}
.footer__git{
    width: 50px;
    height: auto;
    margin-left: 40px;
}
.footer__school {
    width: 80px;
    height: auto;
    
}
.footer__img{
}
.socials {
    display: flex;
    
}
.socials__item:not(:last-child) {
    margin-right: 20px;
}
.socials__link {
    width: 50px;
    height: auto;
}
.height{
    height: 550px;
}
/* media query */

